<ion-header [translucent]="true">
  <ion-toolbar color="#DCCCBB">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="#182825"> 
      <ion-icon 
        routerLink="/profile-page" 
        size="large" 
        src="../../assets/icon/profileSVG.svg">
    </ion-icon>
      Uni Sub
      <ion-icon 
        routerLink="/notification-page" 
        size="large" 
        src="../../assets/icon/bellIcon.svg"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="header">
    <ion-icon
    src="../../assets/icon/photoshopSVG.svg"
    >
  </ion-icon>
  <h1> Photoshop</h1>
</div>
  <div id="plans">
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <div id="p1">
          <h1> Photoshop <br/> Plan</h1>
          <p>Create incredible designs with industry-leading imaging and graphic design software.
          </p>
          <a></a>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <div id="p1">
        <h1>Photography <br/> plan</h1>
          <p> Make amazing photos from anywhere with Lightroom, and truly transform them with Photoshop.
          </p>
          <a></a>
        </div>
        
      </ion-label>
    </ion-item>
    <ion-item lines="full">
    <ion-label class="ion-text-wrap">
    <div id="p1">
      <h1> All Plans</h1>
      <p>Get 20+ desktop and mobile apps including Photoshop, Lightroom, Illustrator, InDesign, and Premiere Pro.
      </p>
      <a></a>
    </div>
    </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
      <div id="p1">
        <h1> Student Discount</h1>
        <p>Students get Photoshop as part of Adobe Creative Cloud at over 60% off.
        </p>
        <a style="text-align: center; text-decoration: none; margin-left: 20px; color:#001E36;" href="#"> About</a>
      </div>
      </ion-label>
      </ion-item>
     
   
    <div id="uni">
      <ion-icon
        src="../../assets/icon/uni.svg">
  </ion-icon>
  <h1> University Discount: Yes</h1>
</div>
<div class="ion-text-center">
<ion-button href="" color="success" shape="round" >Choose A Plan</ion-button>
    </div>
  </div>
    
</ion-content>
