<ion-header [translucent]="true">
  <ion-toolbar color="#DCCCBB">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="#182825"> 
      <ion-icon 
        routerLink="/profile-page" 
        size="large" 
        src="../../assets/icon/profileSVG.svg">
    </ion-icon>
      Uni Sub
      <ion-icon 
        routerLink="/notification-page" 
        size="large" 
        src="../../assets/icon/bellIcon.svg"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="header">
    <ion-icon
    src="../../assets/icon/netSVG.svg"
    >
  </ion-icon>
  <h1> Netflix</h1>
</div>
  <div id="plans">
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <div id="p1">
          <h1> Standard <br/> w/ads</h1>
          <p>Ad-Supported, all but a few movies and TV shows available, unlimited  mobile games;
          Watch on 2 supported devices at a time;
          Watch in Full HD
          </p>
          <a style="color: #E50914; text-decoration: none; text-align: center; margin-left: 20px;" href="https://help.netflix.com/en/node/126831"> About The Ads</a>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <div id="p1">
        <h1>Basic</h1>
          <p> Unlimited ad-free movies, TV shows, and mobile games;
              Watch on 1 supported device at a time; Watch in HD; Download on 1 supported device at a time
          </p>
          <a></a>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <div id="p1">
        <h1>Standard</h1>
          <p>Unlimited ad-free movies, TV shows, and mobile games;
            Watch on 1 supported device at a time; Watch in HD; Download on 1 supported device at a time </p>
            <a></a>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <div id="p1">
        <h1>Premium</h1>
          <p>Unlimited ad-free movies, TV shows, and mobile games
            Watch on 2 supported devices at a time
            Watch in Full HD
            Download on 2 supported devices at a time </p>
            <a> </a>
        </div>
      </ion-label>
    </ion-item>
    <div id="uni">
      <ion-icon
        src="../../assets/icon/uni.svg">
  </ion-icon>
  <h1> University Discount: No</h1>
</div>
<div class="ion-text-center">
<ion-button href="" color="danger" shape="round" >Choose A Plan</ion-button>
    </div>
  </div>
</ion-content>
