<ion-header [translucent]="true">
  <ion-toolbar color="#DCCCBB">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="#182825"> 
      <ion-icon 
        routerLink="/profile-page" 
        size="large" 
        src="../../assets/icon/profileSVG.svg">
    </ion-icon>
      Uni Sub
      <ion-icon 
        routerLink="/notification-page" 
        size="large" 
        src="../../assets/icon/bellIcon.svg"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profilePage</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
