
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #182825;

  margin: 0;
}

#container a {
  position:relative;
}

#container h1 {
  text-align: center;
  color: #182825;
  font-weight: 800;
}

ion-button {
  text-transform: none;
}

ion-title {
  font-size: 30px;
  color:#182825;
  font-weight: 800;
  text-align: center;
}

